<form action="/meows" method="post">
  <h2>Tell me a secret:</h2><br>
  <input type="text" name="meow[meow]" id="meower_id"><br>
  <br>
  <input type="submit">
</form>


<br>
<a href="/meowers/new">Ninja Out</a>
