<h1>Add a Meower</h1>

<form action="/meowers" method="post">
  Meower:<br>
  <input type="text" name="meower[meower]"><br>
  Email:<br>
  <input type="text" name="meower[email]"><br>
  <input type="submit">
</form><br>

<p><a href="/movies">Back to index!</a></p>
